<% if !@user.nil? %>
	<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<% else %>
	<h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
<% end %>
 
<%= render 'users/friend_request_form' if @user != current_user %>

<ul>
	<li><%= link_to "Edit Profile", edit_user_registration_path%></li>
</ul>

<ul class="nav navbar-nav navbar-left header-links">
	<li><%= link_to "Timeline", root_path %></li>
	<li><%= link_to "About", root_path %></li>
	<li><%= link_to "Friends", root_path %></li>
	<li><%= link_to "Photos", root_path %></li>
	<li><%= link_to "More", root_path %></li>
</ul>

<br>
<br>

<% if @user == current_user %>
	<div class="new-post">
		<%= form_for @post, :url => posts_path, :html => {:method => :create} do |f| %>
			<%= f.label(:content, "New Post", class: "new-post-label") %>
			<%= f.text_area(:content, rows: "4", class: 'new-post-form') %>
			<input type="hidden" name="id" value=<%= params[:id] %>>

			<%= f.submit("Post", class: "new-post-button") %>
		<% end %>
	</div>
<% end %>

<% @posts.each do |post| %>
	<div class="post">
		<p>
			<div class="author-name">
				<%= post.author.first_name %>
				<%= post.author.last_name %> <br>
			</div>
			<div class="time-ago">
				Posted <%= time_ago_in_words(post.created_at) %> ago
			</div>
		</p>
		<p>
			<%= post.content %>
		</p>
	</div>
<% end %>



