<h1>Users#show</h1>
<% if !@user.nil? %>
	<h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
<% else %>
	<h2><%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
<% end %>
 
<%= render 'users/friend_request_form' if @user != current_user %>

<ul>
	<li><%= link_to "Edit Profile", edit_user_registration_path%></li>
</ul>

<ul class="nav navbar-nav navbar-left header-links">
	<li><%= link_to "Timeline", root_path %></li>
	<li><%= link_to "About", root_path %></li>
	<li><%= link_to "Friends", root_path %></li>
	<li><%= link_to "Photos", root_path %></li>
	<li><%= link_to "More", root_path %></li>
</ul>

<br>
<br>

<%= form_for @post, :url => posts_path, :html => {:method => :create} do |f| %>
	<%= f.label(:content, "New Post:") %>
	<%= f.text_field(:content) %>
	<input type="hidden" name="id" value=<%= params[:id] %>>

	<%= f.submit("Post") %>
<% end %>

<% @posts.each do |post| %>
	<p>
		<%= post.author.first_name %>
		<%= post.author.last_name %>
		<%= post.created_at %>
	</p>
	<p>
		Content:
		<%= post.content %>
	</p>
<% end %>


