<header class="navbar navbar-fixed-top navbar-inverse header">

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link"><%= link_to "Home", posts_path %></a>
			</li>
		</ul>
		<%= form_tag users_path, :method => 'get', :class => "form-inline" do %>
			<%= text_field_tag(:user_search) %>
			<%= submit_tag("Search") %>
		<%end%>
	</div>

	
	<ul class="nav navbar-nav navbar-right header-links"> 
		<li><%= link_to "Profile", current_user %></li>
		<li><%= link_to "Home", posts_path %></li>
		<li><%= link_to "Friend Requests", root_path %></li>
		<li><%= link_to "Notifications", root_path %></li>
	</ul>
</header>
