<header class="navbar navbar-fixed-top navbar-inverse header">
	<ul class="nav navbar-nav navbar-left">
		<li class="header-links"><%= link_to "Home", posts_path %></li>
		
	</ul>
	<ul class="nav navbar-nav navbar-right header-links"> 
		<li><%= link_to "Profile", current_user %></li>
		<li><%= link_to "Home", posts_path %></li>
		<li><%= link_to "Friend Requests", root_path %></li>
		<li><%= link_to "Notifications", root_path %></li>
	</ul>
</header>